<nav class="navbar">
    <div class="navbar-container">
        <a href="/" class="navbar-logo">
            <span class="logo-text">Zolv</span>
        </a>
        
        <div class="navbar-menu">
            <NavLink class="nav-link" href="/our-approach" Match="NavLinkMatch.All">
                Our approach
            </NavLink>
            <NavLink class="nav-link" href="/platform" Match="NavLinkMatch.All">
                Platform
            </NavLink>
            <NavLink class="nav-link" href="/integrations" Match="NavLinkMatch.All">
                Integrations
            </NavLink>
            <NavLink class="nav-link" href="/case-studies" Match="NavLinkMatch.All">
                Case studies
            </NavLink>
            <NavLink class="nav-link" href="/insights" Match="NavLinkMatch.All">
                Insights
            </NavLink>
            <NavLink class="nav-link" href="/about" Match="NavLinkMatch.All">
                About
            </NavLink>
            <a class="nav-link" href="#" target="_blank">
                Client login
            </a>
            <a href="/contact" class="btn btn-primary">
                Contact
            </a>
        </div>
    </div>
</nav>